body {
    background: gray;
    font-family: Lato, Arial;
    color: aliceblue;
}

main{
    border:solid red 3px;
}
::-webkit-input-placeholder {
    color: blue;
}

#logingform {
    display: inline-block;
    float: right;
}

#logingInput {
    top: 0;
    bottom: 0;
    right: 30px;
    
    border: none;
    color: #00000000;
    text-align: center;
    background-color: #aaa;

}

.menudiv {
    top: 50px;
    left: 0;
    bottom: 3px;
    width: 135px;
    padding: 12px 0 0 12px;
    position: fixed;
    border-right: 1px double #e3e3e3;
}
.menudiv a {
    display: inline-block;
    width: 120px;
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 2px;
    margin: 2px auto;
    background: #aaa;
    /*#ff720e*/
    
    text-decoration: none;
}
.menudiv a:hover {
    background-color: #7e7e7e;
}
.barradiv {
    margin: 64px 0px 0px 155px;
    border: 1px solid #151515;
    width: 76.5%;
}
#top-header {
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    position: relative;
    padding: 5px 10px;
    background: #000;
    z-index: 900;
}
#top-header h1 {
    margin: 0 2px;
}
#top-header a {
    color: azure;
}
 #top-header a:visited {
    color: azure;
}
 
#user-status {
    top: 0;
    bottom: 0;
    right: 30px;
    position: absolute;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color:firebrick;
    /*#ff720e*/
    
    transition: all 0.4s ease;
}
#user-status:hover {
    background-color: #7e7e7e;
}

/*#f60e24*/
main{
    position:relative; 
    display: inline-block;
}
article {
    
    position: relative;
    text-align: right;
    border: solid green 3px;
}

article div {
    position: sticky;
    border: solid white 3px;
}

aside {
    float: right;
    position: static;
    display:inline-block; 
}
aside div {
    border: solid yellow 3px;
}
